<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="safetyFormData" type="teamSpring.firstProject.domain.SafetyFormData"/>
        <typeAlias alias="Safety" type="teamSpring.firstProject.domain.Safety"/>
        <typeAlias alias="User" type="teamSpring.firstProject.domain.User"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/mapper/UserMapper.xml"/>
    </mappers>
</configuration>