<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>registerForm</title>
</head>
<body>
<div class="container">
    <div class="disasterForm">
        <form method="post" th:action="@{/registerDisaster}">
            <input type="text" name="disaster" style="width: 250px; height: 30px;" placeholder="災害タイトル名前">
            <input type="submit" style="width: 255px; height: 30px;background-color: rgb(9, 66, 96);color: white;" value="登録">
        </form>
    </div>
</div>
</body>
</html>
