<!DOCTYPE html>
<!--<html lang="ja">-->
<html xmlns:th="http://www.thymeleaf.org"> <!-- Thymeleaf -->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- logo 글씨체 -->
    <link
            href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap"
            rel="stylesheet"
    />

    <!--  ajax  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap" rel="stylesheet"/>
    <!-- 지금등록 글씨 -->
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet"/>
    <!-- 로그아웃글씨 -->
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet"/>


    <!-- 안부표 글씨  -->
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap" rel="stylesheet">


    <link rel="stylesheet" th:href="@{/css/safety-chart.css}">
<!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
    <title>安否表</title>
</head>

<body>
<div class="safety">
    <form method="post" th:action="@{/safetyForm}">
        <div hidden th:with="request=${#httpServletRequest}">
            <input type="hidden" name="requestURI" th:value="${request.getRequestURI()}"></input>
        </div>
        <input type="hidden" name="disasterId" th:value="${disasterId}"/>
        <div class="safety-box">
            <input
                    type="hidden"
                    name="employeeId"
                    th:value="${sessionId}"
            /><!-- hidden -->
            <div class="safety-header">安否登録</div>
            <div class="safety-middle">
                <p><label>今のあなたの安全ですか？</label></p>
                <div style="height: 40px; line-height: 40px;">
                    <input type="radio" id="safety" name="saOrDa" value="o" th:checked="${true}"/>
                    <label for="safety">安全だ</label>
                    <input type="radio" id="dangerous" name="saOrDa" value="x" th:checked="${false}"/>
                    <label for="dangerous">危険だ</label>
                    <br/><br/>
                </div>

                <p><label>ケガしてますか？</label></p>
                <div style="height: 40px; line-height: 40px;">
                    <input type="radio" id="injuredNo" name="injured" value="false" th:checked="${true}"/>
                    <label for="injuredNo">してない</label>
                    <input type="radio" id="injuredYes" name="injured" value="true" th:checked="${false}"/>
                    <label for="injuredYes">してる</label>
                    <br/><br/>
                </div>

                <p><label>出勤可能ですか？</label></p>
                <div style="height: 40px; line-height: 40px;">
                    <input type="radio" id="workingOK" name="working" value="true" th:checked="${true}"/>
                    <label for="workingOK">可能</label>
                    <input type="radio" id="workingNO" name="working" value="false" th:checked="${false}"/>
                    <label for="workingNO">不可能</label>
                    <br/><br/>
                </div>
            </div>
            <div class="safety-bottom">
                <p>伝えたいことがあれば書いてください</p>
                <textarea type="text" id="content" name="otherInfo" style="resize: none;
                width: 410px;height: 125px;font-size: 17px;border: 1px solid;" rows="5" cols="50"
                ></textarea>
            </div>
            <div class="safety-button">
                <div class="safety-yes">
                    <button type="submit" class="safety-yes-Btn">はい</button>
                </div>
                <div class="safety-no">
                    <div class="safety-no-Btn">いいえ</div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-back"></div>

<header>
    <div class="inner">
        <div class="box" style="height: 125px">
            <!--  재해 등록할때 버튼 1개 추가되면 포지션 앱솔루트랑 레프트 바텀으로 위치 조절만 하면 스프링로고는 영향 안감  -->
            <div th:if="${empName == 'admin'}">
                <div>
                    <button
                            style="
                        border-radius: 13px;
                        background-color: whitesmoke;
                        position: absolute;
                        bottom: 26px;
                        height: 50px;
                        border: 6px solid #3c447d;
                    ">
                        <a
                                th:href="@{/userRegister}"
                                style="
                            text-decoration: none;
                            color: #314178;
                            font-size: 17px;
                            font-weight: bold;
                        "
                        >ユーザー登録
                        </a>
                    </button>
                    <button
                            style="
                        border-radius: 13px;
                        background-color: whitesmoke;
                        position: absolute;
                        bottom: 26px;
                        left: 140px;
                        height: 50px;
                        border: 6px solid #3c447d;
                    ">
                        <a
                                th:href="@{/disasterRegister}"
                                style="
                            text-decoration: none;
                            color: #314178;
                            font-size: 17px;
                            font-weight: bold;
                        "
                        >災害登録
                        </a>
                    </button>
                </div>
            </div>
            <div class="logo"><a th:href="@{/spring}" style="text-decoration: none; color: #2a4383;">Spring</a></div>
            <!-- <div class="header-button"><button>安否登録</button></div> -->
            <div class="log-out">
                <div>
                    <button class="now-btn">
                        今すぐ<span style="color: red">安否登録</span>
                    </button>
                </div>
                <div class="hello-User"><span th:text="${empName}"/>さん<br>ようこそ</div>

                <button class="logout-text logout-button">ログアウト</button>
            </div>
        </div>
    </div>
</header>

<!-- -----------------------------------ここまで header ----------------------- -->
<div class="title">
    <div class="title-inner">
        <a th:href="@{/safetyTable}" style="color: black; text-decoration: none"><p>安否表</p></a>
    </div>
</div>
<section>
    <div class="section-inner">
        <div class="research-box">
            <div class="research">
                <div class="input-box">
                    <form th:action="@{/safetyTable}" method="get">
                        <select name="searchType">
                            <option value="empName" th:selected="${searchType == 'empName'}">社員名</option>
                            <option value="empId" th:selected="${searchType == 'empId'}">社員番号</option>
                        </select>
                        <input type="text" name="searchKeyword" th:value="${searchKeyword}" style=" width: 194px;border: 3px solid #b0afaf;border-radius: 7px;height: 26px;" />
                        <button type="submit" class="searchButton">検索</button>
                        <input type="hidden" name="deptName" th:value="${deptName}">
                    </form>
                </div>
            </div> <!-- research-box -->
            <div class="departName">
                <span th:if="${deptName}  == 'all'" th:text="''">부서이름 들어갈곳</span>
                <span th:if="${deptName}  != 'all'" th:text="${deptName}">부서이름 들어갈곳</span>
            </div>
        </div>
        <div class="table-box">
            <div class="left-table">
                <table>
                    <thead>
                    <tr>
                        <th>部署リスト</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="deptName : ${departmentNameList}">
                        <td><a th:href="@{'/safetyTable?&deptName='+${deptName}}" style="text-decoration: none"><span th:text="${deptName}" style="color: black;}"></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="middle-table" style="font-family: 'Shippori Antique B1', sans-serif;">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 200px">所属</th>
                        <th style="width: 150px">社員番号</th>
                        <th style="width: 200px">名前</th>
                        <th style="width: 130px">安否</th>
                        <th style="width: 260px">日時</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="anpi : ${safetyTable}">
                        <td>
                            <a th:href="@{/safetyTable/empId/{empId}(empId=${anpi.employeeId})}" th:text="${anpi.authority}" style="text-decoration: none; color: black">部署</a>
                        </td>
                        <td>
                            <a th:href="@{/safetyTable/empId/{empId}(empId=${anpi.employeeId})}" th:text="${anpi.employeeId}" style="text-decoration: none; color: black">社員番号</a>
                        </td>
                        <td>
                            <a th:href="@{/safetyTable/empId/{empId}(empId=${anpi.employeeId})}" th:text="${anpi.employeeName}" style="text-decoration: none; color: black">名前</a>
                        </td>
                        <td th:if="${anpi.safety} == 'o'" style="font-size: 25px; color: #264db5">安全</td> <!-- 安否 -->
                        <td th:if="${anpi.safety} == 'x'" style="font-size: 25px; color: red">危険</td> <!-- 安否 -->
                        <td th:if="${anpi.safety} == null" style="font-size: 25px">ー</td>
                        <td th:if="${anpi.reportDate} != null">
                            <span th:text="${#temporals.format(anpi.reportDate, 'yyyy/MM/dd HH:mm:ss')}"></span>
                        </td>
                        <td th:if="${anpi.reportDate} == null">ー</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-table">
                <table>
                    <thead>
                    <tr>
                        <th>部署名</th>
                        <th>登録済</th>
                        <th>総員人数</th>
                        <th>総員済</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="merged : ${mergedList}">
                        <td th:text="${merged.departmentName}"></td>
                        <td th:text="${merged.safetyCheckCount}"></td>
                        <td th:text="${merged.allEmpsCount}"></td>
                        <td>
                            <span th:if="${merged.safetyCheckCount == merged.allEmpsCount}">
                                <img src="/images/AllCheckOK.png" alt="Checked" style="width: 33px"/>
                            </span>
                            <span th:unless="${merged.safetyCheckCount == merged.allEmpsCount}">
                                <img src="/images/AllCheckNo.png" alt="Unchecked" style="width: 33px" />
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<footer>
    <p>
        このサイトはteamSpringによって作られ、みんなさんの安全対策及び、素早い安否登録を行えるため色んな情報を提供しています。
        <br />
    </p>
    <em>© KURLY CORP. ALL RIGHTS RESERVED</em>
    <script type="text/javascript">
        let message = '[[${message}]]';
        if(message == 'NOT_USERINFORMATION') {
            alert("選択した社員はまだ安否登録を行っていません！")
        }
    </script>
</footer>
<script src="/js/safety-chart.js"></script>
</body>
</html>