<!DOCTYPE html>
<!--<html lang="ja">-->
<html xmlns:th="http://www.thymeleaf.org"> <!-- Thymeleaf -->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap"
            rel="stylesheet"
    />
    <!-- 지금등록 글씨 -->
    <link
            href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap"
            rel="stylesheet"
    />
    <!-- 로그아웃글씨 -->
    <link
            href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap"
            rel="stylesheet"
    />

    <!-------------- ↓↓↓↓안부표 글씨 ↓↓↓↓-------------->

    <link
            href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap"
            rel="stylesheet"
    />
<!--    <link href="./safety-chart.css" rel="stylesheet" />-->
    <link rel="stylesheet" th:href="@{/css/safety-chart.css}">
    <title>安否表</title>
</head>

<body>
<header>
    <div class="inner">
        <div class="box">
            <div>
                <!-- <button
                  style="
                    border: 1px solid #314178;
                    border-radius: 20px;
                    background-color: whitesmoke;
                  "
                >
                  <a
                    href="#"
                    style="
                      text-decoration: none;
                      color: #314178;
                      font-size: 17px;
                      font-weight: bold;
                    "
                    >ユーザー登録
                  </a>
                </button> -->
            </div>
            <div style="width: 300px"></div>
            <div class="logo">Spring</div>
            <!-- <div class="header-button"><button>安否登録</button></div> -->
            <div class="log-out">
                <div>
                    <button class="now-btn">
                        今すぐ<span style="color: red">安否登録</span>
                    </button>
                </div>
                <div class="logout-text">昇さん、ようこそ</div>
                <div class="logout-text">ログアウト</div>
            </div>
        </div>
    </div>
</header>
<!-- -----------------------------------ここまで header ----------------------- -->
<div class="title">
    <div class="title-inner">
        <a th:href="@{/safetyTable}" style="color: black; text-decoration: none"><p>安否表</p></a>
    </div>
</div>
<section>
    <div class="section-inner">
        <div class="research-box">
            <div class="research">
<!--                <div class="select-box">-->
<!--                    <select class="category" name="category">-->
<!--                        <option value="1" selected>名前</option>-->
<!--                        <option value="2">社員番号</option>-->
<!--                        <option value="2">生年月日</option>-->
<!--                        <option value="2">色んな</option>-->
<!--                    </select>-->
<!--                </div>-->

                <div class="input-box">
                    <form th:action="@{/safetyTable}" method="get">
                        <select name="searchType">
                            <option value="empName" th:selected="${searchType == 'empName'}">社員名</option>
                            <option value="empId" th:selected="${searchType == 'empId'}">社員番号</option>
                        </select>
                        <input type="text" name="searchKeyword" th:value="${searchKeyword}" />
                        <button type="submit">検索</button>
                        <input type="hidden" name="deptName" th:value="${deptName}">
                    </form>
                </div>
<!--                <div class="button-box">-->
<!--                    <button>検索</button>-->
<!--                </div>-->
            </div>
        </div>
        <div class="table-box">
            <div class="left-table">
                <table>
                    <thead>
                    <tr>
                        <th>部署リスト</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="deptName : ${departmentNameList}">
                        <td><a th:href="@{'/safetyTable?&deptName='+${deptName}}" style="text-decoration: none"><span th:text="${deptName}" style="color: black;}"></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="middle-table">
                <table>
                    <thead>
                    <tr>
                        <th>所属</th>
                        <th>名前</th>
                        <th style="width: 180px">安否</th>
                        <th>日時</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="anpi : ${safetyTable}">
                        <td onclick="checkSafety(this)">
                            <a th:href="@{/safetyTable/empId/{empId}(empId=${anpi.employeeId})}" th:text="${anpi.authority}" style="text-decoration: none; color: black">部署</a>
                        </td>
                        <td>
                            <a th:href="@{/safetyTable/empId/{empId}(empId=${anpi.employeeId})}" th:text="${anpi.employeeName}" style="text-decoration: none; color: black">名前</a>
                        </td>
                        <td th:if="${anpi.safety} == 'o'" style="font-size: 25px">安全</td> <!-- 安否 -->
                        <td th:if="${anpi.safety} == 'x'" style="font-size: 25px">危険</td> <!-- 安否 -->
                        <td onClick="checkSafety(this)" th:if="${anpi.safety} == null" style="font-size: 25px">ー</td>
<!--                        <td th:if="${anpi.safety} == null" style="font-size: 25px">ー</td>-->
                        <td th:if="${anpi.reportDate} != null">
                            <span th:text="${#temporals.format(anpi.reportDate, 'yyyy/MM/dd HH:mm:ss')}"></span>
                        </td>
                        <td th:if="${anpi.reportDate} == null">ー</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-table">
                <table>
                    <thead>
                    <tr>
                        <th>部署名</th>
                        <th>登録済</th>
                        <th>総員人数</th>
                        <th>総員済</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="merged : ${mergedList}">
                        <td th:text="${merged.departmentName}"></td>
                        <td th:text="${merged.safetyCheckCount}"></td>
                        <td th:text="${merged.allEmpsCount}"></td>
                        <td>
                            <span th:if="${merged.safetyCheckCount == merged.allEmpsCount}">
                                <img src="/images/AllCheckOK.png" alt="Checked" style="width: 33px"/>
                            </span>
                            <span th:unless="${merged.safetyCheckCount == merged.allEmpsCount}">
                                <img src="/images/AllCheckNo.png" alt="Unchecked" style="width: 33px" />
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<footer>
    <p>
        このサイトはteamSpringによって作られ、みんなさんの安全対策及び、素早い安否登録を行えるため色んな情報を提供しています。
        <br />
    </p>
    <em>© KURLY CORP. ALL RIGHTS RESERVED</em>
</footer>

<!--    <script>-->
<!--        function checkSafety(safety) {-->
<!--            if (safety === null || safety === 'null') {-->
<!--                alert('아직 안부 등록이 되어있지 않습니다.');-->
<!--            }-->
<!--        }-->
<!--    </script>-->
</body>
</html>