<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1,user-scalable=no"
    />
    <title>detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- logo 글씨체 -->
    <link
            href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap"
            rel="stylesheet"
    />
    <!-- 上は재난최근정보글꼴 -->
    <link
            href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap"
            rel="stylesheet"
    />
    <!-- 지금등록 글씨 -->
    <link
            href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap"
            rel="stylesheet"
    />
    <!-- 로그아웃글씨 -->
    <link
            href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap"
            rel="stylesheet"
    />

    <!-- 상세정보 글씨체 부서,이름 등    -->
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/userDetailInformation.css}">
<!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
</head>
<body>
<div class="safety">
    <form method="post" th:action="@{/safetyForm}">
        <div hidden th:with="request=${#httpServletRequest}">
            <input type="hidden" name="requestURI" th:value="${request.getRequestURI()}"></input>
        </div>
        <input type="hidden" name="disasterId" th:value="${disasterId}"/>
        <div class="safety-box">
            <input
                    type="hidden"
                    name="employeeId"
                    th:value="${sessionId}"
            /><!-- hidden -->
            <div class="safety-header">安否登録</div>
            <div class="safety-middle">
                <p><label>今のあなたの安全ですか？</label></p>
                <div style="height: 40px; line-height: 40px;">
                    <input type="radio" id="safety" name="saOrDa" value="o" th:checked="${true}"/>
                    <label for="safety">安全だ</label>
                    <input type="radio" id="dangerous" name="saOrDa" value="x" th:checked="${false}"/>
                    <label for="dangerous">危険だ</label>
                    <br/><br/>
                </div>

                <p><label>ケガしてますか？</label></p>
                <div style="height: 40px; line-height: 40px;">
                    <input type="radio" id="injuredNo" name="injured" value="false" th:checked="${true}"/>
                    <label for="injuredNo">してない</label>
                    <input type="radio" id="injuredYes" name="injured" value="true" th:checked="${false}"/>
                    <label for="injuredYes">してる</label>
                    <br/><br/>
                </div>

                <p><label>出勤可能ですか？</label></p>
                <div style="height: 40px; line-height: 40px;">
                    <input type="radio" id="workingOK" name="working" value="true" th:checked="${true}"/>
                    <label for="workingOK">可能</label>
                    <input type="radio" id="workingNO" name="working" value="false" th:checked="${false}"/>
                    <label for="workingNO">不可能</label>
                    <br/><br/>
                </div>
            </div>
            <div class="safety-bottom">
                <p>伝えたいことがあれば書いてください</p>
                <textarea type="text" id="content" name="otherInfo" style="resize: none;
                width: 410px;height: 125px;font-size: 17px;border: 1px solid;" rows="5" cols="50"
                ></textarea>
            </div>
            <div class="safety-button">
                <div class="safety-yes">
                    <button type="submit" class="safety-yes-Btn">はい</button>
                </div>
                <div class="safety-no">
                    <div class="safety-no-Btn">いいえ</div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-back"></div>

<header>
    <div class="inner">
        <div class="box" style="height: 125px">
            <div th:if="${empName == 'admin'}">
                <div>
                    <button
                            style="
                        border-radius: 13px;
                        background-color: whitesmoke;
                        position: absolute;
                        bottom: 26px;
                        height: 50px;
                        border: 6px solid #3c447d;
                    ">
                        <a
                                th:href="@{/userRegister}"
                                style="
                            text-decoration: none;
                            color: #314178;
                            font-size: 17px;
                            font-weight: bold;
                        "
                        >ユーザー登録
                        </a>
                    </button>
                    <button
                            style="
                        border-radius: 13px;
                        background-color: whitesmoke;
                        position: absolute;
                        bottom: 26px;
                        left: 140px;
                        height: 50px;
                        border: 6px solid #3c447d;
                    ">
                        <a
                                th:href="@{/disasterRegister}"
                                style="
                            text-decoration: none;
                            color: #314178;
                            font-size: 17px;
                            font-weight: bold;
                        "
                        >災害登録
                        </a>
                    </button>
                </div>
            </div>
            <div class="logo"><a th:href="@{/spring}" style="text-decoration: none; color: #2a4383;">Spring</a></div>
            <!-- <div class="header-button"><button>安否登録</button></div> -->
            <div class="log-out">
                <div>
                    <button class="now-btn">
                        今すぐ<span style="color: red">安否登録</span>
                    </button>
                </div>
                <div class="hello-User"><span th:text="${empName}"/>さん<br>ようこそ</div>

                <button class="logout-text logout-button">ログアウト</button>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="inner">
        <div class="box">
            <div class="box-header"><p>詳細情報</p></div>
            <div class="imformation-box">
                <div class="name-box">
                    <p th:text="${userSafetyDetail.get(0).get('e_name')}">藤田昇</p>
                </div>
                <div class="detail-imformaition">
                    <div class="position">
                        <p class="title"> 部署</p>
                        <p th:text="${userSafetyDetail.get(0).get('d_name')}" style="font-size: 19px">営業部</p>
                    </div>
                    <div class="id">
                        <p class="title">社員番号</p>
                        <p th:text="${userSafetyDetail.get(0).get('e_id')}" style="font-size: 19px">2220252</p>
                    </div>
                    <div class="state">
                        <p class="title">状況</p>
                        <p th:if="${userSafetyDetail.get(0).get('safety')} == 'o'" style="font-size: 19px">安全な状況である</p>
                        <p th:if="${userSafetyDetail.get(0).get('safety')} == 'x'" style="font-size: 19px">危険な状況である</p>
                    </div>
                    <div class="wound">
                        <p class="title">怪我</p>
                        <p th:if="${userSafetyDetail.get(0).get('injury_flag') == true}" style="font-size: 19px">ケガしてる<br></p>
                        <p th:if="${userSafetyDetail.get(0).get('injury_flag') == false}" style="font-size: 19px">ケガしてない<br></p>
                    </div>
                    <div class="go-to-work">
                        <p class="title">出社</p>
                        <p th:if="${userSafetyDetail.get(0).get('work_flag') == true}" style="font-size: 19px">出社可能<br></p>
                        <p th:if="${userSafetyDetail.get(0).get('work_flag') == false}" style="font-size: 19px">出社不可能<br></p>
                    </div>
                    <div class="textbox">
                        <p class="title">伝えたいこと</p>
                        <p th:text="${userSafetyDetail.get(0).get('other_information')}" style="font-size: 19px">
                            今日の夜ご飯は焼きそばでした。 金がない時簡単に食べれます
                            皆さんも是非食べてください今日の夜ご飯は焼きそばでした。
                            金がない時簡単に食べれます
                            皆さんも是非食べてください今日の夜ご飯は焼きそばでした。
                            金がない時簡単に食べれます
                            皆さんも是非食べてください今日の夜ご飯は焼きそばでした。
                            金がない時簡単に食べれます
                            皆さんも是非食べてください今日の夜ご飯は焼きそばでした。
                            金がない時簡単に食べれます
                        </p>
                    </div>
                    <div class="date">
                        <p class="title">登録日</p>
                        <p th:text="${#temporals.format(userSafetyDetail.get(0).get('date_of_report'), 'yyyy/MM/dd HH:mm:ss')}" style="font-size: 19px">2023/05/08 16:23:45</p>
                    </div>
                    <div class="cellphone">
                        <p class="title">電話番号</p>
                        <p th:text="${userSafetyDetail.get(0).get('Cellphone')}" style="font-size: 19px">電話番号表示</p>
                    </div>
                    <div style="display: flex;justify-content: flex-end; width: 1200px">
                        <button class="back-Button" onclick="history.back()" style="margin-right: 120px; cursor: pointer">戻る</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <p>
        このサイトはteamSpringによって作られ、みんなさんの安全対策及び、素早い安否登録を行えるため色んな情報を提供しています。
        <br />
    </p>
    <em>© KURLY CORP. ALL RIGHTS RESERVED</em>

</footer>
<script src="/js/userSafetyDetail.js"></script>
</body>
</html>