<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamSpring.firstProject.dao.UserDao">

    <!-- 管理者が災害を登録する -->
    <insert id="registerDisaster" parameterType="String">
        INSERT INTO disaster(di_title)
        VALUES (#{disaster})
    </insert>

    <!-- メイン画面で使う -->
    <!-- 一番最近の災害情報４つを持ってくる -->
    <select id="mainLatestDisaster" resultMap="latestDisasterMap">
        SELECT * FROM disaster
        ORDER BY di_id DESC
        LIMIT 4
    </select>

    <!-- 一番最近の災害情報を持ってくる -->
    <!-- このSQLは管理者が災害を登録した時にsafety_reportテーブルの全di_idをこのSQL文の結果のdi_idで初期化する -->
    <select id="latestDisaster" resultMap="latestDisasterMap">
        SELECT * FROM disaster
        WHERE di_id = (SELECT MAX(di_id) FROM disaster)
    </select>

    <resultMap id="latestDisasterMap" type="java.util.Map">
        <result column="di_id" property="disasterId"/>
        <result column="di_title" property="disasterTitle"/>
        <result column="di_date" property="disasterDate"/>
    </resultMap>

    <update id="empDiIdUpdate" parameterType="int">
        UPDATE employee
        SET di_id = #{disasterId}
    </update>

    <insert id="latestDiIdSafetyTable" parameterType="Map">
        <foreach collection="list" item="user" separator=";">
        INSERT INTO safety_report(e_id, di_id)
        SELECT e.e_id, e.di_id
        FROM employee AS e
        WHERE e.e_id = #{user.e_id} AND e.di_id = #{user.di_id}
        </foreach>
    </insert>

    <insert id="resetSafetyTable">
        INSERT INTO safety_report(e_id, di_id, date_of_report, safety)
        SELECT e.e_id, e.di_id, NULL, NULL
        FROM employee AS e
        WHERE e.di_id = (
            SELECT MAX(e1.di_id)
            FROM employee AS e1
        )
    </insert>

<!--    <insert id="latestDiIdSafetyTable">-->
<!--        INSERT INTO safety_report(e_id, di_id, date_of_report)-->
<!--        SELECT e.e_id, e.di_id, NULL-->
<!--        FROM employee AS e-->
<!--        WHERE e.di_id = (-->
<!--            SELECT MAX(e1.di_id)-->
<!--            FROM employee AS e1-->
<!--        )-->
<!--    </insert>-->


</mapper>